<!DOCTYPE html>
<html>
<head>
<title>Coats</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- <link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/custom.css" rel="stylesheet"> -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/custom.css" rel="stylesheet">

</head>
<body>
	<div class="container">
		<div class="header">
			<div class="row">

				<h1 class="coats">
					<a href="index.html"><img src="images/coatsplc_logo.svg"
						alt="Coats logo" height="50" width="50" class="coats-logo">
						<span>Coats.com</span></a>
				</h1>
			</div>
		</div>
	</div>
	<div class="main-content">
		<div class="container">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 loginForm">

				<div class="login-box">
					<div class="login-header">
						<div class="coatslogo">
							<img src="images/coatsplc_logo.svg" alt="Coats logo" height="50"
								width="50" class="coats-logo">
						</div>
						<h3 style="text-align: center;">Coats Sign On</h3>
					</div>
					<form>

						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
								<div class="row">
									<div class="col-lg-2 col-md-2 col-sm-2 col-xs-1"></div>
									<div class="col-lg-10 col-md-10 col-sm-10 col-xs-11">
										<div class="form-group">
											<input type="text" class="form-control" id="userName"
												placeholder="Username">
											<div class="error-username">
												<span class="login-error-icon userName-error-icon">!</span>
												<p class="login-error-message">Enter a Valid Username</p>
											</div>
										</div>
										<div class="form-group">
											<input type="password" class="form-control" id="password"
												placeholder="Password">
											<div class="error-password">
												<span class="login-error-icon password-error-icon">!</span>
												<p class="login-error-message">Enter a Valid Password</p>
											</div>
										</div>

										<div class="marTop20 col-lg-8 col-md-8 col-sm-7 col-xs-12">
											<input type="submit" name="signin" value="Sign In"
												class="signin" id="signin">
										</div>





									</div>
								</div>
							</div>

						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<footer>
		<div class="container">
			<p class="text-center">
				<span>Copyright © 2011 - 2017 www.coats.com | All rights
					reserved | </span><span style="text-decoration: underline;">Privacy
					Policy</span><span> | </span><span style="text-decoration: underline;">Terms
					and Conditions</span>
			</p>
		</div>
	</footer>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
	<script type="text/javascript" src="js/jquery.dataTables.min.js"></script>
	<script src="js/custom.js"></script>
	<script src="https://cdn.auth0.com/w2/auth0-7.1.min.js"></script>
	<script>
		var auth0 = new Auth0({
			domain : 'praveenramakrishna.auth0.com',
			clientID : 'MHvMLnxN2315McHG8dVsdhYF4CNxPM5f',
			callbackURL : 'http://localhost:3099/callback'
		});
		$('.signin').on('click', function() {
			var userName = $("input#userName").val();
			var password = $("input#password").val();
			auth0.signin({
				connection : 'Username-Password-Authentication',
				username : 'praveen.p.kumar@capgemini.com',
				password : 'P@ssw0rd'
			}, function(err, profile, id_token, access_token, state) {
				alert("Messag: " + profile);
				/*
				    store the profile and id_token in a cookie or local storage
				      $.cookie('profile', profile);
				      $.cookie('id_token', id_token);
				 */
			});
		});
	</script>
</body>
</html>