<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Thyme Leaf</title>
<style th:inline="text">
input::-webkit-calendar-picker-indicator {
	display: none;
}
</style>
</head>
<body>

	<header th:replace='widget :: site-header'></header>
	<div class="container">
		<div class="text-center">

			<h1>Thymeleaf Layouts</h1>


			<form name="registration">
				<label for="firstname">Name</label> <input type="text" id="ajax" name="name"
					list="json-datalist" placeholder="NAME">
				<datalist id="json-datalist"></datalist>
				<br /> <br /> <!-- <label for="firstname">First Name</label> <input
					type="text" name="firstname" id="firstname" placeholder="John" />
				<br /> <br /> <label for="lastname">Last Name</label> <input
					type="text" name="lastname" id="lastname" placeholder="Doe" /> <br />
				<br /> --> <label for="email">Email</label> <input type="email"
					name="email" id="email" placeholder="john@doe.com" /> <br /> <br />
				<label for="password">Password</label> <input type="password"
					name="password" id="password"
					placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;" /> <br /> <br />
				<button type="submit">Register</button>

			</form>

			<p>
				<a id="signup" class="btn btn-success btn-lg">Sign up</a>
			</p>
		</div>

	</div>

	<footer th:replace='widget :: site-footer'></footer>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>


	<script type="text/javascript" th:inline="javascript">
		$(document)
				.ready(
						function() {
							$("form[name='registration']")
									.validate(
											{
												// Specify validation rules
												rules : {
													// The key name on the left side is the name attribute
													// of an input field. Validation rules are defined
													// on the right side
													name : "required",
													email : {
														required : true,
														// Specify that email should be validated
														// by the built-in "email" rule
														email : true
													},
													password : {
														required : true,
														minlength : 5
													}
												},
												// Specify validation error messages
												messages : {
													name : "Please enter your name",
													password : {
														required : "Please provide a password",
														minlength : "Your password must be at least 5 characters long"
													},
													email : "Please enter a valid email address"
												},
												// Make sure the form is submitted to the destination defined
												// in the "action" attribute of the form when valid
												submitHandler : function(form) {
													form.submit();
												}
											});

							var jsonResponse;
							var itemArray = new Array();
							$.ajax({
								type : 'GET',
								url : 'http://localhost:8090/employee',
								dataType : 'json',
								success : function(data) {
									jsonResponse = data;
								}
							});

							/* drop down on keyup*/
							$("input#ajax")
									.on(
											"keyup",
											function(event) {
												if (this.value.length == 3) {
													var dataList = document
															.getElementById('json-datalist');
													$
															.each(
																	jsonResponse,
																	function(
																			index,
																			element) {
																		if (jQuery
																				.inArray(
																						element.name,
																						itemArray) == -1) {
																			// Create a new <option> element.
																			var option = document
																					.createElement('option');
																			// Set the value using the item in the JSON array.
																			itemArray
																					.push(element.name);
																			option.value = element.name;
																			// Add the <option> element to the <datalist>.
																			dataList
																					.appendChild(option);

																		}
																	});
												}
											});

						});
	</script>
</body>
</html>
