<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Thyme Leaf</title>
</head>
<body>

	<header th:replace='widget :: site-header'></header>

	<div class="container">
		<div class="text-center">

			<h1>Thymeleaf Layouts</h1>

			<div class="lead"
				th:insert="http://www.thymeleaf.org :: section.description"></div>

			<div th:insert="http://localhost:8090/login"></div>

			<p>
				<a id="signup" class="btn btn-success btn-lg">Sign up</a>
			</p>
		</div>

	</div>
	<footer th:replace='widget :: site-footer'></footer>

</body>
</html>