body{
	background: #fff;
}
body, .btn {
	font-family: Arial, helvetica, verdana, sans-serif;
	font-size: 12px;
}
a{
	color: #135994;
}

.navbar-header
{
    margin-top: 5px;
    margin-bottom: 4px;
}
#userName,#password
{
	width: 300px;
    margin: auto;
}

.navbar-header >a > span
{
    font-size: 26px;
    color: #135994;
    vertical-align: middle;
    margin-left: 20px;
}
.navbar-header >a > img
{
	 margin-left: 15px;
}
