<!DOCTYPE html>
<html xmlns:th='http://www.thymeleaf.org'>
<head>
<!-- <script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="/js/script.js" th:src="@{/js/script.js}"></script> -->
</head>
<body>
	<header th:replace='widget :: site-header'></header>

	<!-- 	<p class="reponseTemplate"
		th:attr="onload=@{http://localhost:8090/login}"></p> -->

	<p 
		th:insert="http://localhost:8090/login :: p.insert"></p>
		
	<p th:insert="http://www.thymeleaf.org :: section.description"></p>
	<p>We manufacture the world's threads and yarns for over 250 years
		we've helped to connect and form the fabric of daily life on our plane</p>
	<p>As firefighters go about their work our performance threads and
		zips offer heat and flame protection at temperatures up to 370C</p>

	<footer th:replace='widget :: site-footer'></footer>
</body>
</html>