<!DOCTYPE html>
<html xmlns:th='http://www.thymeleaf.org'>

<head>
<meta charset="UTF-8" />
<title>Blog</title>
</head>


<body>

	<header th:fragment='site-header'>
		<b>COATS Group plc</b> <br /> <a href='CoatsHome.html' th:href='@{/}'>Home</a>
		<a href='users/login.html' th:href='@{http://localhost:8090/login}'>Login</a>

		<!-- <a href="posts/index.html" th:href="@{/posts}">Posts</a> <a
			href="posts/create.html" th:href="@{/posts/create}">Create Post</a> <a
			href="users/index.html" th:href="@{/users}">Users</a> 
		<div id="logged-in-info">
			<span>Hello, <b>(user)</b></span>
			<form method="post" th:act7ion="@{/users/logout}">
				<input type="submit" value="Logout" />
			</form>
		</div> -->
		
		<div>Coats - The World's Leading Industrial Thread Manufacturer</div>
	</header>


	<footer th:fragment='site-footer'>
		&copy; Coats Group plc <b th:text='${execInfo.now.time}'>date and
			time</b>
	</footer>
	
</body>

</html>